html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav ul {
  margin: 0.3em;
  padding: .6em;
  list-style-type: none;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: .5em;
  background-color: #713837;
}
